<div class="card">
    <h1>Pipes de Texto</h1>
    <table>
        <tr>
            <th>Nombre Pipe</th>
            <th>Valor sin Pipe</th>
            <th>Valor con Pipe</th>
            <th>Opciones del Pipe</th>
        </tr>
        <tr>
            <td>uppercase</td>
            <td>{{texto}}</td>
            <td>{{texto | uppercase}}</td>
            <td></td>
        </tr>
        <tr>
            <td>lowercase</td>
            <td>{{texto}}</td>
            <td>{{texto | lowercase}}</td>
            <td></td>
        </tr>
        <tr>
            <td>titlecase</td>
            <td>{{texto}}</td>
            <td>{{texto | titlecase}}</td>
            <td></td>
        </tr>
    </table>
</div>
<div class="card">
    <h1>Pipes slice</h1>
    <table>
        <tr>
            <th>Nombre Pipe</th>
            <th>Valor sin Pipe</th>
            <th>Valor con Pipe</th>
            <th>Opciones del Pipe</th>
        </tr>
        <tr>
            <td>slice</td>
            <td>{{id}}</td>
            <td>{{id | slice: -3}}</td>
            <td>N° de caracteres</td>
        </tr>
    </table>
</div>
<div class="card">
    <h1>Pipe Date</h1>
    <table>
        <tr>
            <th>Nombre Pipe</th>
            <th>Valor sin Pipe</th>
            <th>Valor con Pipe</th>
            <th>Opciones del Pipe</th>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ahora}}</td>
            <td>{{ahora | date: 'dd/MM/yyyy hh:mm'}}</td>
            <td>Opción numérica con formato tradicional de fechas</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ahora}}</td>
            <td>{{ahora | date: 'short'}}</td>
            <td>Opción texto "short"</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ahora}}</td>
            <td>{{ahora | date: 'medium'}}</td>
            <td>Opción texto "medium"</td>
        </tr>
        <tr>
            <td>date</td>
            <td>{{ahora}}</td>
            <td>{{ahora | date: 'long'}}</td>
            <td>Opción texto "long"</td>
        </tr>
    </table>
</div>
